USE [master]
GO
/****** Object:  Database [JSOS]    Script Date: 14.12.2019 21:30:48 ******/
CREATE DATABASE [JSOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JSOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.JAKUBSQL\MSSQL\DATA\JSOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JSOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.JAKUBSQL\MSSQL\DATA\JSOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JSOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JSOS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14.12.2019 21:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 14.12.2019 21:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](max) NOT NULL,
	[TeacherName] [nvarchar](max) NOT NULL,
	[CodeOfGroup] [nvarchar](max) NOT NULL,
	[Term] [nvarchar](max) NOT NULL,
	[ECTS] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 14.12.2019 21:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mark] [real] NOT NULL,
	[Date] [datetime] NOT NULL,
	[CourseId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Grades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 14.12.2019 21:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[From] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[MessageContent] [nvarchar](max) NULL,
	[StudentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 14.12.2019 21:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [real] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PaymentDeadline] [datetime] NOT NULL,
	[StudentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 14.12.2019 21:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[Faculty] [nvarchar](30) NOT NULL,
	[FieldOfStudy] [nvarchar](30) NOT NULL,
	[Level] [nvarchar](max) NOT NULL,
	[StudentIDNumber] [int] NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [CourseName], [TeacherName], [CodeOfGroup], [Term], [ECTS]) VALUES (1, N'Inżynieria Oprogramowania', N'Olgierd Unold', N'E04-32b', N'Wtorek, 11:15', 6)
INSERT [dbo].[Courses] ([Id], [CourseName], [TeacherName], [CodeOfGroup], [Term], [ECTS]) VALUES (2, N'Bazy Danych 2', N'Tomasz Babczyński', N'E05-21y', N'Poniedziałek, 11:15', 3)
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([Id], [Mark], [Date], [CourseId], [StudentId]) VALUES (1, 4.5, CAST(N'2019-12-14T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Grades] ([Id], [Mark], [Date], [CourseId], [StudentId]) VALUES (2, 3.5, CAST(N'2019-12-14T20:21:46.890' AS DateTime), 1, 2)
INSERT [dbo].[Grades] ([Id], [Mark], [Date], [CourseId], [StudentId]) VALUES (3, 4, CAST(N'2019-12-14T20:39:11.920' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Grades] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [From], [Subject], [MessageContent], [StudentId]) VALUES (2, N'Olgierd Unold', N'Egzamin poprawkowy', N'Egzamin poprawkowy odbędzie się 12 stycznia o godzienie 9:15 w sali 205 bud. C-1. Z poważaniem Olgierd Unold', 1)
INSERT [dbo].[Messages] ([Id], [From], [Subject], [MessageContent], [StudentId]) VALUES (3, N'Jan Nikodem', N'Wgląd do prac', N'Kolokwia można obejrzeć jutro (15.12) o godzinie 13:15 w sali 124 w bud. C-3. Z poważaniem Jan Nikodem', 1)
INSERT [dbo].[Messages] ([Id], [From], [Subject], [MessageContent], [StudentId]) VALUES (5, N'Jerzy Pietraszko', N'Konsultacje', N'Witam, konsultacje odbędą sie w piątek o godz. 11:15 w C-16 s. L2.2.

Pozdrawiam', 1)
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [BirthDate], [Faculty], [FieldOfStudy], [Level], [StudentIDNumber], [Login], [Password]) VALUES (1, N'Jakub', N'Fałdasz', CAST(N'1997-05-13T00:00:00.000' AS DateTime), N'Elektroniki', N'Informatyka', N'I stopień', 235730, N'pwr2137', N'passw0rd')
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [BirthDate], [Faculty], [FieldOfStudy], [Level], [StudentIDNumber], [Login], [Password]) VALUES (2, N'Jan', N'Kowalski', CAST(N'1999-07-29T00:00:00.000' AS DateTime), N'Matematyki', N'Matematyka stosowana', N'I stopień', 221356, N'pwr1234', N'haslo')
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [BirthDate], [Faculty], [FieldOfStudy], [Level], [StudentIDNumber], [Login], [Password]) VALUES (3, N'Kamil', N'Szymczak', CAST(N'1996-09-06T00:00:00.000' AS DateTime), N'Budownictwa', N'Budownictwo', N'I stopień', 225632, N'szymczak', N'kamil')
SET IDENTITY_INSERT [dbo].[Students] OFF
/****** Object:  Index [IX_CourseId]    Script Date: 14.12.2019 21:30:48 ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[Grades]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 14.12.2019 21:30:48 ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[Grades]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 14.12.2019 21:30:48 ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[Messages]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 14.12.2019 21:30:48 ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[Payments]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Grades_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_dbo.Grades_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Grades_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_dbo.Grades_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.Students_StudentId]
GO
USE [master]
GO
